.message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.messageContainer{
    background-color: #353535;
}

.messageContainerOwn{
    background-color: #17634c;
    align-content: flex-end;
}

.messageContainer, .messageContainerOwn{
    border-radius: 8px;
    padding: 5px;
    max-width: 70%;
    margin-top: 10px;
}

.top{
    display: flex;
    justify-content: space-between;
}

.menu{
    position: relative;
}

.iconShow{
    color: #FFF
}

.options{
    position: absolute;
    right: 5px;
    top: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #dbdbdb;
}

.option{
    display: flex;
    cursor: pointer;
}

.messageTop{
    display: flex;
    min-width: 70px;
    flex-direction: column;
    justify-content: flex-end;
}

.wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.imgContainer{
    width: 900px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.usernameOwn{
    color: lightskyblue;
}

.username{
    color: greenyellow;
}

.messageText{
    display: block;
    min-width: 20px;
    margin-top: 0;
    color: white;
    margin-right: 20px;
    word-break: break-all;
}

.messageBottom{
    display: flex;
    width: 100%;
    font-size: 12px;
    justify-content: flex-end;
    color: #a3a3a3;
    margin-top: -15px;
}

.messageOwn{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}